/* header */
.header{
    background-image:url('img/Banner.png');
    background-position: top;
    background-repeat: no-repeat;
    padding: 169px;
    background-size: 1000px;
    opacity: 0.9;

}
.title-head{
    color: cornsilk ;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0;
    /* margin-left: 400px; */
    /* margin-right: 404px; */
}
.title-name{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 344px;
    margin-right: 344px;
}