/* header */
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/Banner.png");
    background-position: top;
    background-repeat: no-repeat;
    padding: 170px;
    background-size: cover;
     align-items: center;
    margin-top: 0;
    margin-left: 280px;
   margin-right: 280px; 
   margin-bottom: 0; 
   border-radius: 20px;
   position: relative;
}
.title-head{
    color: #fff ;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 250px;
   margin-right: 250px;
}
.title-name{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 900;
    width: 600px; 
    letter-spacing: 3.25px;
    margin-left: 500px;
    margin-left: 170px;
   margin-right: 170px;
    
}
.discount{
    color: red;
    text-align: center;
    margin-top: 270px;
    font-weight: 700;
    font-size: 88px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    margin-top: 100px;

}
.paragraph{
    color: red;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    margin-bottom: 0;
}
.all{
    text-align: center;
    margin-top: 30px;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 8px;
}
.new-year-image{
    display: block;
    margin-left: 400px;
    width: 50%;
    background-position: bottom;
    margin-bottom: 0;

}
.banner{
    font-size: 70px;
    color: white;
    font-family: 'Times New Roman', Times, serif; 
    width: 642px; 
    font-weight: 900; 
    letter-spacing: 7.04px;
    margin-top: 0;
    margin-bottom: 15px; 
   
}
.banner-doc{
    color: white;
    font-size: larger;
    /* margin-left: 120px; */
    margin-right: 400px;
    letter-spacing: 2px;
    margin-top: 0;

}
.invite{
    color: white;
    font-weight: 700; 
    font-size: 20px; 
    margin-left: 100px;
}
.party-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 170px;
    background-size: cover;
     /* align-items: center; */
    margin-top: 100px;
    margin-left: 285px;
   margin-right: 285px; 
   margin-bottom: 0; 
   border-radius: 20px;
   position: relative;
}
#image{
    width: 300px;
    margin-left: 800px;
    position: absolute;
    /* flex-direction: column;  */
    padding: 0.008px 0px 0px 0px; 

}
#div{
    display: flex;
}
.date{
   text-align: center;
   margin-top: 100px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 56px; 
   border-radius: 20px;
   font-size: 32px; 
   font-weight: 600; 
   background-position: center;
   padding: 200px;
   margin-left: 285px;
   margin-right: 285px;
   border-bottom: 20px;
   background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.text-color{
    color: red;
    line-height: 0px; 
    
}
.JOIN{
    color: white;
    display: inline-flex;
 padding: 16px 32px;
 justify-content: center;
 align-items: center;
 gap: 10px; 
 border-radius: 8px;
 background: #F00; 
 font-size: 20px; 
 font-weight: 700; 
}
.coming-soon-flex{
    display: flex;
}
.coming-soon{
    margin-left: 290px;
   /* margin-right: 220px; */
}
.best-offer{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    margin-bottom: 0;
    margin-top: 100px;

}
.coming{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
/* text-transform: capitalize; */
margin-bottom: 0;
margin-top: 15px;
margin-right: 150px;
}
.dolor{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 20px;
margin-right: 150px;
}
.right-shift{
    margin-left: 5px;
    margin-right: 255px;
    margin-top: 0px;
    display: flexbox;
    border-bottom: 0;

}
.two{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px; 
    margin-top: 50px;
    font-weight: 700; 
    margin-bottom: 0;
    margin-right: 150px;
}
.dolor-doc{
    color: rgba(7, 2, 17, 0.60);
 font-family: Inter;
 font-size: 20px;
 font-style: normal;
 font-weight: 400;
 line-height: 32px;
 margin-top: 0;
 margin-right: 8px;
}
.center{
    margin-top: 40px;
    /* margin-left: 100px; */
    margin-right: 190px;
    border-radius: 50%;
   border: solid red;
   border-width: 20px;
  border: 20px solid #ffffff; border-radius: 50%; box-shadow: 0 0 1pt 15px #FF0000;
}
.FUNCTIONAL{
    margin-top: 100px;
    text-align: center;
    color: #070211;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    margin-bottom: 0;
}
.holydays-sale{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
    margin-top: 20px;
    margin-bottom: 0;
}
.sale{
    color: #070211;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.sale-doc{
    color: rgba(7, 2, 17, 0.60);
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-left: 520px;
    margin-right: 520px;
}
.new{
    margin-left: 280px;
    margin-right: 280px;
    width: 68%;
    border-radius: 20px;
}
.dolor-dis{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-right: 850px;
}
.column{
    margin-left: 280px;
    margin-right: 280px;
}
.mail{
    background: rgba(255, 0, 0, 0.05); 
    border-radius: 20px; 
    padding: 80px;
    margin-top: 80px;
    margin-left: 280px;
    margin-right: 330px;
    margin-bottom: 80px;
}
.email{
    width: 150px; 
    margin-top: 10px;
 margin-left: 410px;
flex-shrink: 0;
align-items: center; 
}
.Subscribe{
    color: #070211;
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
    margin-top: 20px;
    margin-bottom: 0;
}
.email-doc{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.input{
    width: 648px;
    height: 72px;
    font-size: 25px;
flex-shrink: 0;
margin-right: 0;
border-radius: 50px 0px 0px 50px;
background: #FFF;
margin-left: 90px;
border: none;
}
.btn{
    width: 290px;
    height: 72px;
    margin-left: 0;
    font-size: larger;
flex-shrink: 0; 
border: none;
border-radius: 0px 50px 50px 0px;
background: #F00;
}
.btn-flex{
    display: flex;
    border: none;
}
.end{
    background: #070211;
    padding: 200px; 
}
.add{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-right: 100px;
}
.all-rights{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;

}
.Unsubscribe{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal; 
margin-left: 1200px;
}
.phone{
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-left: 10px ;
margin-right: 0;
}
.web{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-left: 00px;
mar
}
.bp{
    display: flex;
}
.dp{
    display: flex;
}
.pp{
    margin-left: 580px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.call{
    margin-top: 30px;
    margin-left: 180px;
    width: 2%;
    height: 2%;
}